* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 17px;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dedede;
}
#outer-box {
  width: 50vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgb(167, 37, 37); */
  background: #c73838;
  flex-direction: column;
  border-radius: 20px;
}
#canvas {
  margin: 2rem;
  border: 3px solid black;
  width: 44vw;
  height: 50vh;
  place-items: center;
  background: white;
}
h1 {
  font-size: 2.3rem;
  color: gold;
}
.knob {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: gray;
  display: flex;
  justify-content: center;
  place-items: center;
}

#control-box {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
footer {
  text-align: center;
}
