* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 17px;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dedede;
}
#outer-box {
  border: 1px solid #000;
  width: 50vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(167, 37, 37);
  flex-direction: column;
  border-radius: 20px;
}
#canvas {
  margin: 2rem;
  border: 3px solid black;
  width: 44vw;
  height: 50vh;
  place-items: center;
  background: white;
}
h1 {
  color: gold;
}
footer {
  text-align: center;
  border: 1px solid #000;
}
