* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 17px;
  font-family: lobster;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dedede;
}
#outer-box {
  display: flex;
  place-items: center;
  background: #c73838;
  flex-direction: column;
  border-radius: 20px;
}
#canvas {
  margin: 2rem;
  border: 3px solid black;
  width: 54vw;
  height: 65vh;
  background-color: white;
  /* grid */
  display: grid;
  justify-content: center;
}
h1 {
  font-size: 3rem;
  font-weight: lighter;
  color: gold;
  margin-top: 1rem;
}
#control-box {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.knob {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: rgba(41, 21, 21, 0.774);
  color: pink;
  display: flex;
  justify-content: center;
  place-items: center;
}
.btn {
  font-family: "lobster";
  color: purple;
  font-size: 0.9rem;
  padding: 10px;
  background: goldenrod;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
footer {
  text-align: center;
  font-family: poppins;
  font-weight: bold;
}
footer > a {
  text-decoration: none;
}
